<header>
  <h1><%= t('.title') %></h1>
  <nav>
    <%= link_to t('.go_back'), users_path %>
  </nav>
</header>

<article>
  <%= form_with model: @user, url: user_profile_path(@user) do |form| %>
    <%= form.hidden_field :role %>
    <fieldset>
      <label for="user_name"><%= t('.name_placeholder') %></label>
      <%= form.text_field :name, autocomplete: "name", placeholder: t('.name_placeholder'),
          autofocus: true, required: true, data: { "1p-ignore": true } %>

      <label for="user_email_address"><%= t('.email_placeholder') %></label>
      <%= form.email_field :email_address, autocomplete: "username",
          placeholder: t('.email_placeholder'), required: true %>

      <label for="user_password"><%= t('.password_placeholder') %></label>
      <%= form.password_field :password, autocomplete: "new-password",
          placeholder: t('.password_placeholder'), maxlength: 72 %>
    </fieldset>

    <nav>
      <%= link_to t('.cancel'), user_profile_path(@user) %>
      <%= form.submit t('.save_changes') %>
    </nav>
  <% end %>
</article>

<article>
  <%= render "users/transfer", user: @user %>
</article>

<article>
  <%= button_to session_path, method: :delete do %>
    <%= t('.sign_out') %>
  <% end %>
</article>
