<header>
  <h1><%= @user.name %></h1>
  <nav>
    <%= link_to t('.go_back'), users_path %>
  </nav>
</header>

<article>
  <p><%= @user.name %></p>
  <p><%= mail_to @user.email_address %></p>
</article>

<% if Current.user.can_administer? %>
  <article>
    <%= render "users/transfer", user: @user %>
  </article>
<% end %>
