%table.debit_credit
  %thead
    %tr
      %th{colspan: 2} Debit
      %th{colspan: 2} Credit
    %tr
      %th Category Name
      %th Total amount
      %th Category Name
      %th Total amount
  %tbody
    - already_printed_nil = false
    - for i in -1..[debits.count, credits.count].max do
      %tr
        - if i < 0
          %td= debits.keys[i+1]
          %td.amount= number_to_currency debits[debits.keys[i+1]]
          %td Winst/Verlies
          %td.amount= number_to_currency profit_or_loss
        - else
          %td= debits.keys[i+1] unless already_printed_nil
          %td.amount= number_to_currency debits[debits.keys[i+1]] unless already_printed_nil
          %td= credits.keys[i]
          %td.amount= number_to_currency credits[credits.keys[i]]
          - already_printed_nil = true if debits.keys[i+1].blank?
  %tfoot
    %tr
      %td Totalen
      %td.amount= number_to_currency debit_total
      %td Totalen
      %td.amount= number_to_currency credit_total
