%table.debit_credit
  %thead
    %tr
      %th{colspan: 2} Debit
      %th{colspan: 2} Credit
    %tr
      %th Category Name
      %th Total amount
      %th Category Name
      %th Total amount
  %tbody
    - already_printed_nil = false
    - for i in -1..[debits.count, credits.count].max do
      %tr
        - if i < 0
          %td
          %td.amount
          %td.profit-and-loss Winst/Verlies
          %td.profit-and-loss.amount= number_to_currency profit_or_loss
        - else
          %td= ((debits.count > i) && debits.keys[i].blank?) ? '-' : debits.keys[i]
          %td.amount= (debits.count > i) ? number_to_currency(debits[debits.keys[i]]) : ''
          %td= ((credits.count > i) && credits.keys[i].blank?) ? '-' : credits.keys[i]
          %td.amount= (credits.count > i) ? number_to_currency(credits[credits.keys[i]]) : ''
  %tfoot
    %tr
      %td Totalen
      %td.amount= number_to_currency debit_total
      %td Totalen
      %td.amount= number_to_currency credit_total
