<table class="debit_credit">
  <thead>
    <tr>
      <th colspan="2">Debit</th>
      <th colspan="2">Credit</th>
    </tr>
    <tr>
      <th>Category Name</th>
      <th>Total amount</th>
      <th>Category Name</th>
      <th>Total amount</th>
    </tr>
  </thead>
  <tbody>
    <% already_printed_nil = false %>
    <% (-1..[debits.count, credits.count].max).each do |i| %>
      <tr>
        <% if i < 0 %>
          <td></td>
          <td class="amount"></td>
          <td class="profit-and-loss"><%= t "balance.profit_or_loss" %></td>
          <td class="profit-and-loss amount"><%= number_to_currency profit_or_loss %></td>
        <% else %>
          <td><%= ((debits.count > i) && debits.keys[i].blank?) ? '-' : debits.keys[i] %></td>
          <td class="amount"><%= (debits.count > i) ? number_to_currency(debits[debits.keys[i]]) : '' %></td>
          <td><%= ((credits.count > i) && credits.keys[i].blank?) ? '-' : credits.keys[i] %></td>
          <td class="amount"><%= (credits.count > i) ? number_to_currency(credits[credits.keys[i]]) : '' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Totalen</td>
      <td class="amount"><%= number_to_currency debit_total %></td>
      <td>Totalen</td>
      <td class="amount"><%= number_to_currency credit_total %></td>
    </tr>
  </tfoot>
</table>
