<% content_for(:secondary_nav) do %>
  <nav class="secondary">
    <ul>
      <li><%= link_to t("filters.month_to_date"), dashboard_index_path(filter: :month_to_date) %></li>
      <li><%= link_to t("filters.last_month"), dashboard_index_path(filter: :last_month) %></li>
      <li><%= link_to t("filters.three_months"), dashboard_index_path(filter: :three_months) %></li>
      <li><%= link_to t("filters.year_to_date"), dashboard_index_path(filter: :year_to_date) %></li>
      <li><%= link_to t("filters.last_year"), dashboard_index_path(filter: :last_year) %></li>
    </ul>
  </nav>
<% end %>

<%= render partial: 'balance', locals: { debits: @debit_transactions, credits: @credit_transactions, debit_total: @debit_total, credit_total: @credit_total, profit_or_loss: @profit_or_loss } %>
