
%nav.secondary
  %h1 Income Statement
  %ul
    %li= link_to 'Month to date', dashboard_index_path(filter: :month_to_date)
    %li= link_to 'last month', dashboard_index_path(filter: :last_month)
    %li= link_to '3 months', dashboard_index_path(filter: :three_months)
    %li= link_to 'year to date', dashboard_index_path(filter: :year_to_date)
    %li= link_to 'last year', dashboard_index_path(filter: :last_year)
%hr

%article.debit-credit
  = render partial: 'balance', locals: { debits: @debit_transactions, credits: @credit_transactions, debit_total: @debit_total, credit_total: @credit_total, profit_or_loss: @profit_or_loss }
