<% turbo_page_requires_reload %>

<header>
  <h1><%= ENV.fetch("APP_NAME") %></h1>
</header>

<article>
  <%= form_with url: session_path do |form| %>
    <fieldset>
      <label for="email_address"><%= t('.email_placeholder') %></label>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
          placeholder: t('.email_placeholder'), value: params[:email_address] %>

      <label for="password"><%= t('.password_placeholder') %></label>
      <%= form.password_field :password, required: true, autocomplete: "current-password",
          placeholder: t('.password_placeholder'), maxlength: 72 %>
    </fieldset>

    <button type="submit"><%= t('.submit') %></button>
  <% end %>
</article>
