<div class="flex flex-column align-center gap txt-medium--responsive">
  <% url = session_transfer_url(user.transfer_id) %>

  <label class="flex flex-column gap full-width">
    <div class="flex align-center gap">
      <% if Current.user != user %>
        <%= translation_button(:transfer_session) %>
        <strong id="session_transfer_label" class="txt-align-start">Share to get them back into their account</strong>
      <% else %>
        <%= translation_button(:transfer_session_self) %>
        <strong id="session_transfer_label" class="txt-align-start">Link to automatically log in on another device</strong>
      <% end %>
    </div>
    <span class="flex align-center gap margin-inline">
      <input type="text" class="input fill-white" id="session_transfer_url" value="<%= url %>" aria-labelledby="session_transfer_label" autocomplete="off" readonly>
    </span>
  </label>

  <div class="flex align-center gap">
    <%= tag.button type: "button", class: "btn", data: { controller: "clipboard", action: "clipboard#copy", clipboard_text_value: url } do %>
      <span aria-hidden="true">📋</span>
      <span class="for-screen-reader">Copy auto-login link</span>
    <% end %>

    <%= tag.button type: "button",
                   class: "btn",
                   data: {
                     controller: "web-share",
                     action: "web-share#share",
                     web_share_url_value: url,
                     web_share_title_value: "Your sign-in link",
                     web_share_text_value: "This is your own private sign-in URL, DO NOT SHARE IT. Use it to sign-in on another device or if you get locked out."
                   } do %>
      <span aria-hidden="true">📤</span>
      <span class="for-screen-reader">Share auto-login link</span>
    <% end %>
  </div>
</div>
