<h2><%= header %></h2>

<table>
  <thead>
    <tr>
      <th><%= Chattel.human_attribute_name(:name) %></th>
      <th><%= Chattel.human_attribute_name(:kind) %></th>
      <th><%= Chattel.human_attribute_name(:model_number) %></th>
      <th><%= Chattel.human_attribute_name(:purchased_at) %></th>
      <th><%= Chattel.human_attribute_name(:warranty_expires_at) %></th>
      <th><%= Chattel.human_attribute_name(:left_possession_at) %></th>
      <th><%= Chattel.human_attribute_name(:purchase_price) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% chattels.each do |chattel| %>
      <tr>
        <td><%= link_to chattel.name, chattel %></td>
        <td><%= chattel.kind %></td>
        <td><%= chattel.model_number %></td>
        <td><%= l(chattel.purchased_at&.to_date) %></td>
        <td><%= l(chattel.warranty_expires_at.to_date) if chattel.warranty_expires_at.present? %></td>
        <td><%= l(chattel.left_possession_at.to_date) if chattel.left_possession_at.present? %></td>
        <td><%= number_to_currency(chattel.purchase_price) %></td>
        <td><%= link_to t('common.edit'), edit_chattel_path(chattel) %></td>
        <td><%= link_to t('common.destroy'), chattel, data: { turbo_method: :delete, turbo_confirm: t('common.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
