%header
  %h1= @chattel.name
  %nav
    = link_to @chattel do
      %b= t('common.show')
    = button_to t('common.destroy'), @chattel, method: :delete, data: { turbo_confirm: t('common.confirm_destroy') }

%article
  = render 'form'
