<header>
  <h1><%= @chattel.name %></h1>
  <nav>
    <%= link_to @chattel do %>
      <b><%= t('common.show') %></b>
    <% end %>
  </nav>
</header>
<article>
  <%= render 'form', chattel: @chattel %>
</article>

<div class="actions">
  <%= button_to t('common.destroy'), @chattel, method: :delete, class: "button-danger", data: { turbo_confirm: t('common.confirm_destroy'), confirm_verb: t('common.delete') } %>
</div>
