<header>
  <h1><%= @chattel.name %></h1>
  <nav>
    <%= link_to chattels_path do %>
      <b><%= t("common.back") %></b>
    <% end %>
    <%= link_to edit_chattel_path(@chattel) do %>
      <b><%= t('common.edit') %></b>
    <% end %>
  </nav>
</header>
<article>
  <%= render partial: 'form', locals: { chattel: @chattel, disabled: :disabled } %>

  <section>
    <h2><%= t('chattels.show.warranty_proof') %></h2>
    <% proof = @chattel.warranty_proof %>
    <% if proof %>
      <%= link_to t('chattels.show.view_warranty'), rails_blob_path(proof, disposition: :inline) %>
    <% else %>
      <p><%= t('chattels.show.no_warranty') %></p>
    <% end %>
  </section>
</article>
<footer>
  <%= button_to t('common.destroy'), @chattel, method: :delete, class: "button-danger",
      data: { turbo_confirm: t('common.confirm_destroy'), confirm_verb: t('common.delete') } %>
</footer>
