%p#notice= notice

%p
  %b= "#{Chattel.human_attribute_name(:name)}:"
  = @chattel.name
%p
  %b= "#{Chattel.human_attribute_name(:kind)}:"
  = @chattel.kind
%p
  %b= "#{Chattel.human_attribute_name(:model_number)}:"
  = @chattel.model_number
%p
  %b= "#{Chattel.human_attribute_name(:serial_number)}:"
  = @chattel.serial_number
%p
  %b= "#{Chattel.human_attribute_name(:purchase_transaction)}:"
  = @chattel.purchase_transaction
%p
  %b= "#{Chattel.human_attribute_name(:purchased_at)}:"
  = l @chattel.purchased_at, format: :short
%p
  %b= "#{Chattel.human_attribute_name(:warranty_expires_at)}:"
  = l @chattel.warranty_expires_at, format: :short
%p
  %b= "#{Chattel.human_attribute_name(:left_possession_at)}:"
  = l @chattel.left_possession_at, format: :short if @chattel.left_possession_at
%p
  %b= "#{Chattel.human_attribute_name(:purchase_price)}:"
  = @chattel.purchase_price
%p
  %b= "#{Chattel.human_attribute_name(:notes)}:"
  = @chattel.notes

= link_to t('common.edit'), edit_chattel_path(@chattel)
\|
= link_to t('common.back'), chattels_path
