<table>
  <thead>
    <tr>
      <th><%= t("transaction_links.balance_table.description") %></th>
      <th><%= t("transaction_links.balance_table.amount") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= 'unconsolidated' if transaction.consolidatable? %>">
      <td><%= transaction.note %></td>
      <td><%= number_to_currency(transaction.amount, unit: "€") %></td>
      <td></td>
    </tr>
    <% transaction.linked_transfers.each do |transfer| %>
      <% link = transaction.transaction_links.find_by(transfer: transfer) %>
      <tr>
        <td><%= transfer.note %></td>
        <td><%= number_to_currency(-transfer.amount, unit: "€") %></td>
        <td>
          <%= button_to t("transaction_links.unlink"),
                transaction_transaction_link_path(transaction, link),
                method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= t("transaction_links.balance_table.balance") %></td>
      <td><%= number_to_currency(transaction.link_balance, unit: "€") %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
