<%# locals: (transaction:, transfers:, searched:) %>
<% if searched %>
  <% if transfers.any? %>
    <table>
      <thead>
        <tr>
          <th><%= t("transaction_links.suggestions.description") %></th>
          <th><%= t("transaction_links.search.creditor") %></th>
          <th><%= t("transaction_links.suggestions.amount") %></th>
          <th><%= t("transaction_links.suggestions.date") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% transfers.each do |transfer| %>
          <tr>
            <td><%= transfer.note %></td>
            <td><%= transfer.creditor&.name %></td>
            <td><%= number_to_currency(transfer.amount, unit: "€") %></td>
            <td><%= l(transfer.booked_at.to_date) %></td>
            <td>
              <%= button_to t("transaction_links.link"),
                    transaction_transaction_links_path(transaction),
                    params: { transfer_id: transfer.id } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t("transaction_links.search.no_results") %></p>
  <% end %>
<% end %>
