<% suggestions = transaction.suggested_transfers %>
<% if suggestions.any? %>
  <details open>
    <summary><%= t("transaction_links.suggestions.title") %></summary>
    <table>
      <thead>
        <tr>
          <th><%= t("transaction_links.suggestions.description") %></th>
          <th><%= t("transaction_links.suggestions.amount") %></th>
          <th><%= t("transaction_links.suggestions.date") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% suggestions.each do |transfer| %>
          <tr>
            <td><%= transfer.note %></td>
            <td><%= number_to_currency(transfer.amount, unit: "€") %></td>
            <td><%= l(transfer.booked_at.to_date) %></td>
            <td>
              <%= button_to t("transaction_links.link"),
                    transaction_transaction_links_path(transaction),
                    params: { transfer_id: transfer.id } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </details>
<% end %>

<details>
  <summary><%= t("transaction_links.search.title") %></summary>
  <%= form_with url: transaction_transaction_links_path(transaction),
        method: :get,
        data: { turbo_frame: "transaction_links_search" } do |f| %>
    <%= f.search_field :query, placeholder: t("transaction_links.search.placeholder") %>
    <%= f.number_field :amount, placeholder: t("transaction_links.search.amount_placeholder"),
          step: "0.01", min: "0" %>
    <%= f.submit t("transaction_links.search.submit") %>
  <% end %>
  <%= turbo_frame_tag "transaction_links_search" %>
</details>
