- if @show_upload_form
  %section.upload
    %h2= t('.upload_heading')
    = form_tag(transactions_imports_path, multipart: true) do
      = file_field_tag 'csv'
      = submit_tag t('.upload_submit')

%section.todo-list
  - if @empty
    %p= t('.empty')
  - else
    %table.todo
      %thead
        %tr
          %th= t('.date')
          %th= t('.kind')
          %th= t('.description')
          %th= t('.actions')
      %tbody
        - @items.each do |item|
          - if item.kind == :transaction
            %tr
              %td= l item.date, format: :short
              %td= t('.transaction')
              %td
                = item.record.note&.truncate(40)
                = number_to_currency item.record.amount
              %td= link_to t('.edit'), edit_transaction_path(item.record)
          - else
            %tr
              %td= l item.date, format: :short
              %td= t('.account')
              %td= item.record.to_s
              %td
                = link_to t('.edit'), edit_account_path(item.record)
                = " "
                = button_to t('.update_transactions'), account_transactions_bulk_path(item.record), method: :patch
