<% disabled ||= nil %>
<section>
  <%= form_for @category do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('errors.template.header', count: @category.errors.count, model: Category.model_name.human.downcase) %></h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless disabled %>
      <div class="actions">
        <%= f.submit t('common.save') %>
      </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, disabled: disabled %>

    <%= f.label :direction %>
    <%= f.collection_select :direction, Category::DIRECTIONS, :to_s, :to_s, { required: true }, { disabled: disabled } %>

    <%= f.label :parent_category %>
    <%= f.grouped_collection_select :parent_category_id, Category.groups, :children, :name, :id, :name, { include_blank: true } %>
  <% end %>
</section>
