%header
  %h1= @category.name
  %nav
    = link_to @category do
      %b= t('common.show')
    = button_to t('common.destroy'), @category, method: :delete, data: { turbo_confirm: t('common.confirm_destroy') }

%article
  = render 'form'
