%table.categories
  %thead
    %tr
      %th
      %th Id
      %th Name
      %th Parent

  %tbody
    - @categories.each do |category|
      %tr
        %td
          = link_to category do
            %b Show
        %td= category.id
        %td= category.name
        %td= category.parent_category&.name

%section
  = link_to new_category_path do
    %b New Category
