%nav.secondary
  %ul
    %li= link_to 'New Category', new_category_path

%table.categories
  %thead
    %tr
      %th Id
      %th Name
      %th= Category.human_attribute_name(:group_category)
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= category.name
        %td= category.category_group&.name
        %td= link_to 'Show', category
