<header>
  <h1><%= @category.name %></h1>
  <nav>
    <%= link_to edit_category_path(@category) do %>
      <b><%= t('common.edit') %></b>
    <% end %>
  </nav>
</header>
<article>
  <%= render partial: 'form', locals: { category: @category, disabled: :disabled } %>
</article>

<article>
  <%= render "shared/recent_transactions", transactions: @category.recent_transactions, category: @category %>
</article>

<footer>
  <%= button_to t('common.destroy'), @category, method: :delete, class: "button-danger",
      data: { turbo_confirm: t('common.confirm_destroy'), confirm_verb: t('common.delete') } %>
</footer>
