<%= form_with model: user, url: url do |form| %>
  <% if user.errors.any? %>
    <aside role="alert">
      <h2><%= t("errors.template.header", count: user.errors.count) %></h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </aside>
  <% end %>

  <fieldset>
    <label for="user_name"><%= t(".name") %></label>
    <%= form.text_field :name %>

    <label for="user_email_address"><%= t(".email") %></label>
    <%= form.email_field :email_address, required: true %>

    <label for="user_role"><%= t(".role") %></label>
    <%= form.select :role, User.roles.keys.map { |r| [r, r] }, {}, required: true %>

    <label for="user_password"><%= t(".password") %></label>
    <%= form.password_field :password, required: user.new_record? %>

    <label for="user_password_confirmation"><%= t(".password_confirmation") %></label>
    <%= form.password_field :password_confirmation, required: user.new_record? %>
  </fieldset>

  <nav>
    <%= form.submit submit_label %>
    <%= link_to t(".cancel"), cancel_path %>
  </nav>
<% end %>
