<h1><%= t(".title") %></h1>

<p><%= link_to t(".new_user"), new_admin_user_path %></p>

<table>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".email") %></th>
      <th><%= t(".role") %></th>
      <th><%= t(".created_at") %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.role %></td>
        <td><%= l(user.created_at, format: :long) %></td>
        <td>
          <%= link_to t(".view"), admin_user_path(user) %>
          <%= link_to t(".edit"), edit_admin_user_path(user) %>
          <%= button_to t(".delete"), admin_user_path(user), method: :delete, data: { turbo_confirm: t(".confirm_delete") } unless user == Current.user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
