<h1><%= t(".title") %></h1>

<dl>
  <dt><%= t(".name") %></dt>
  <dd><%= @user.name %></dd>

  <dt><%= t(".email") %></dt>
  <dd><%= @user.email_address %></dd>

  <dt><%= t(".role") %></dt>
  <dd><%= @user.role %></dd>

  <dt><%= t(".created_at") %></dt>
  <dd><%= l(@user.created_at, format: :long) %></dd>

  <dt><%= t(".active_sessions") %></dt>
  <dd><%= @user.sessions.count %></dd>
</dl>

<nav>
  <%= link_to t(".edit"), edit_admin_user_path(@user) %>
  <%= link_to t(".back"), admin_users_path %>
</nav>
