<%# locals: () %>
<%= form_with url: transactions_path, method: :get, data: { controller: "date-filter" } do |f| %>
  <fieldset>
    <legend><%= t(".title") %></legend>

    <label>
      <%= t(".type") %>
      <%= f.select :type,
            Transaction::TYPES.map { |type| [t("transactions.types.#{type.downcase}"), type] },
            { selected: params[:type], include_blank: t(".all") } %>
    </label>

    <label>
      <%= t(".category") %>
      <%= f.select :category_id,
            [[t("common.uncategorized"), "none"]] + Category.all.map { |c| [c.full_name, c.id] },
            { selected: params[:category_id], include_blank: t(".all") } %>
    </label>

    <label>
      <%= t(".account") %>
      <%= f.select :account_id,
            grouped_options_for_select(
              [
                [t(".own_accounts"), Account.own.order(:name).map { |a| [a.to_s, a.id] }],
                [t(".external_accounts"), Account.external.order(:name).map { |a| [a.to_s, a.id] }]
              ],
              params[:account_id]
            ),
            { include_blank: t(".all") } %>
    </label>

    <label>
      <%= t("dashboard.filters.quick_filter") %>
      <select data-date-filter-target="quickFilter" data-action="change->date-filter#applyQuickFilter">
        <option value="">—</option>
        <option value="current_month"><%= t("dashboard.filters.current_month") %></option>
        <option value="last_month"><%= t("dashboard.filters.last_month") %></option>
        <option value="three_months"><%= t("dashboard.filters.three_months") %></option>
        <option value="current_year"><%= t("dashboard.filters.current_year") %></option>
        <option value="last_year"><%= t("dashboard.filters.last_year") %></option>
      </select>
    </label>

    <label>
      <%= t("dashboard.filters.start_date") %>
      <%= f.date_field :start_date, value: params[:start_date], data: { "date-filter-target": "startDate" } %>
    </label>

    <label>
      <%= t("dashboard.filters.end_date") %>
      <%= f.date_field :end_date, value: params[:end_date], data: { "date-filter-target": "endDate" } %>
    </label>

    <button type="submit"><%= t("dashboard.filters.apply") %></button>
    <%= link_to t(".clear"), transactions_path %>
  </fieldset>
<% end %>
