<%# Ensure disabled local has a default value when not provided %>
<% disabled = local_assigns.key?(:disabled) ? local_assigns[:disabled] : nil %>

<section>
  <%= form_for @transaction do |f| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= t("errors.template.header", count: @transaction.errors.count, model: @transaction.model_name.human) %></h2>
        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <%= f.label :category_id %>
      <%= f.select :category_id, grouped_category_options(selected: f.object.category_id), { include_blank: true }, { disabled: disabled } %>

      <%= f.label :note %>
      <%= f.text_area :note, disabled: disabled %>

      <%= f.label :booked_at %>
      <%= f.date_field :booked_at, disabled: disabled %>

      <%= f.label :interest_at %>
      <%= f.date_field :interest_at, disabled: disabled %>

    <% if Current.user.can_administer? %>
      <%= f.label :original_note %>
      <%= f.text_area :original_note, disabled: true %>

      <%= f.label :original_balance_after_mutation %>
      <%= f.text_field :original_balance_after_mutation, disabled: true %>

      <%= f.label :original_tag %>
      <%= f.text_field :original_tag, disabled: true %>
    <% end %>
    </fieldset>

    <% unless disabled %>
      <div class="actions">
        <%= f.submit t('common.save') %>
      </div>
    <% end %>

  <% end %>
</section>
