= pagy_nav(pagy).html_safe

%table.transactions
  %thead
    %tr
      %th
      %th Type
      %th Creditor
      %th Debitor
      %th Amount
      %th Booked at date
      %th Interest date
      %th Category
      %th{} Note

  %tbody
    - transactions.each do |transaction|
      %tr
        %td
          = link_to transaction do
            %b Show
        %td= transaction.type_icon
        - creditor = transaction&.creditor&.name || transaction&.creditor&.account_number
        %td= link_to creditor, account_path(transaction&.creditor)
        - debitor = transaction&.debitor&.name || transaction&.debitor&.account_number
        %td= link_to debitor, account_path(transaction&.debitor)
        %td= number_to_currency transaction&.amount
        %td= l transaction&.booked_at
        %td= l transaction&.interest_at
        %td= transaction&.category&.to_s
        %td= transaction&.note.truncate(20)

= pagy_nav(pagy).html_safe
