= pagy_nav(pagy).html_safe

%table.transactions
  %thead
    %tr
      %th Type
      %th Creditor
      %th Debitor
      %th Amount
      %th Booked at date
      %th Interest date
      %th Category
      %th Note
      %th
      %th
      %th

  %tbody
    - transactions.each do |transaction|
      %tr
        %td= transaction.type
        - creditor = transaction&.creditor&.name || transaction&.creditor&.account_number
        %td= link_to creditor, account_path(transaction&.creditor)
        - debitor = transaction&.debitor&.name || transaction&.debitor&.account_number
        %td= link_to debitor, account_path(transaction&.debitor)
        %td= number_to_currency transaction&.amount
        %td= l transaction&.booked_at
        %td= l transaction&.interest_at
        %td= transaction&.category&.name
        %td= transaction&.note
        %td= link_to 'Show', transaction
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }

= pagy_nav(pagy).html_safe
