= content_for(:secondary_nav) do
  %nav.secondary
    %ul
      %li= link_to t('transactions.index.all_transactions'), transactions_path
      %li= link_to t('transactions.index.consolidatable'), transactions_path(filter: :no_category)
%h1
  = "#{@transaction.creditor} ➡️ #{@transaction.debitor}"
  = link_to @transaction do
    %b= t('common.show')

= render partial: 'form'

%section
  = link_to @transaction, data: { turbo_method: :delete, turbo_confirm: t('common.confirm_destroy') } do
    %b= t('common.destroy')
