<header>
  <h1><%= "#{@transaction.creditor} ➡️ #{@transaction.debitor}" %></h1>
  <nav>
    <%= link_to @transaction do %>
      <b><%= t('common.show') %></b>
    <% end %>
  </nav>
</header>
<article>
  <h2><%= t('transactions.edit.edit_heading') %></h2>
  <%= render partial: "transactions/form", locals: { transaction: @transaction } %>
</article>

<% unless @transaction.type == "Transfer" %>
  <article>
    <h2><%= t('transactions.edit.split_heading') %></h2>
    <%= render "transaction_splits/frame",
               transaction: @transaction,
               transaction_split: (@transaction_split || TransactionSplit.new(financial_transaction: @transaction)) %>
  </article>

  <article>
    <h2><%= t('transactions.edit.link_heading') %></h2>
    <%= turbo_frame_tag "transaction_links" do %>
      <%= render "transaction_links/balance_table", transaction: @transaction %>
      <%= render "transaction_links/suggestions", transaction: @transaction %>
    <% end %>
  </article>
<% end %>

<div class="actions">
  <%= button_to t('common.destroy'), @transaction, method: :delete, class: "button-danger", data: { turbo_confirm: t('common.confirm_destroy'), confirm_verb: t('common.delete') } %>
</div>
