<header>
  <h1><%= "#{@transaction.creditor} ➡️ #{@transaction.debitor}" %></h1>
  <nav>
    <%= link_to @transaction do %>
      <b><%= t('common.show') %></b>
    <% end %>
    <%= button_to t('common.destroy'), @transaction, method: :delete, data: { turbo_confirm: t('common.confirm_destroy') } %>
  </nav>
</header>
<article>
  <%= render partial: 'form' %>
</article>
