%section.actions

%section.transactions
  = render partial: 'table', locals: { transactions: @transactions, pagy: @pagy }

%section.actions
  %aside
    = link_to new_transaction_path do
      %strong New Transaction

  = form_tag(upload_transactions_path, multipart: true) do
    = file_field_tag 'csv'
    = submit_tag 'Upload'
