<section class="actions">
</section>

<section class="transactions">
  <%= render partial: 'table', locals: { transactions: @transactions, pagy: @pagy } %>
</section>

<section class="actions">
  <aside>
    <%= link_to new_transaction_path do %>
      <strong><%= t('.new_transaction') %></strong>
    <% end %>
  </aside>

  <%= form_with local: true, url: transactions_imports_path, multipart: true do |form| %>
    <%= form.file_field :csv %>
    <%= form.submit t('.upload') %>
  <% end %>
</section>
