%h1 Show transactions

%p#notice= notice

%p
  %b Id:
  = @transaction.id
%p
  %b From account:
  = @transaction.creditor
%p
  %b To account:
  = @transaction.debitor
%p
  %b Amount:
  = @transaction.amount
%p
  %b Booked at:
  = @transaction.booked_at
%p
  %b Interest at:
  = @transaction.interest_at
%p
  %b Category:
  = @transaction.category
%p
  %b Note:
  = @transaction.note
%p
  %b Type:
  = @transaction.type

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
