<% content_for(:secondary_nav) do %>
  <nav class="secondary">
    <ul>
      <li><%= link_to 'All transactions', transactions_path %></li>
      <li><%= link_to 'Consolidatable', transactions_path(filter: :no_category) %></li>
    </ul>
  </nav>
<% end %>

<h1>
  <%= "#{@transaction.creditor} ➡️ #{@transaction.debitor}" %>
  <%= link_to edit_transaction_path(@transaction) do %>
    <b>Edit</b>
  <% end %>
</h1>

<%= render partial: 'form', locals: { disabled: :disabled } %>
