<% content_for(:secondary_nav) do %>
  <nav class="secondary">
    <ul>
      <li><%= link_to t(".all_transactions"), transactions_path %></li>
      <li><%= link_to t(".consolidatable"), transactions_path(filter: :no_category) %></li>
    </ul>
  </nav>
<% end %>

<h1>
  <%= "#{@transaction.creditor} ➡️ #{@transaction.debitor}" %>
  <%= link_to edit_transaction_path(@transaction) do %>
    <b><%= t(".edit") %></b>
  <% end %>
</h1>

<%= render partial: 'form', locals: { disabled: :disabled } %>

<h2><%= t(".mutations") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t(".account") %></th>
      <th><%= t(".amount") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transaction.mutations.each do |mutation| %>
      <tr>
        <td><%= link_to mutation.account, account_path(mutation.account) %></td>
        <td><%= number_to_currency mutation.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
