<!DOCTYPE html>
<html data-theme="selenized_light" data-color-scheme="system">
  <head>
    <title>JournalAdministration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to t('home'), dashboard_index_path %>
            <ul>
              <li><%= link_to t("filters.month_to_date"), dashboard_index_path(filter: :month_to_date) %></li>
              <li><%= link_to t("filters.last_month"), dashboard_index_path(filter: :last_month) %></li>
              <li><%= link_to t("filters.three_months"), dashboard_index_path(filter: :three_months) %></li>
              <li><%= link_to t("filters.year_to_date"), dashboard_index_path(filter: :year_to_date) %></li>
              <li><%= link_to t("filters.last_year"), dashboard_index_path(filter: :last_year) %></li>
            </ul>

          </li>
          <li>
            <%= link_to t('journal'), transactions_path %>
            <ul>
              <li><%= link_to 'All transactions', transactions_path %></li>
              <li><%= link_to 'Consolidatable', transactions_path(filter: :no_category) %></li>
            </ul>
          </li>
          <li><%= link_to Account.model_name.human, accounts_path %></li>
          <li><%= link_to Category.model_name.human, categories_path %></li>
          <li><%= link_to Chattel.model_name.human, chattels_path %></li>
        </ul>
      </nav>
      <%= yield(:secondary_nav) %>
    </header>
    <hr>
    <main>
      <article>
        <% flash.each do |key, value| %>
          <aside>
            <p class="flash <%= key.to_s.gsub(/[^a-z_-]/, '') %>"><%= value %></p>
          </aside>
        <% end %>

      <%= yield %>
      </article>
    </main>
  </body>
</html>
