<!DOCTYPE html>
<html data-theme="selenized_light" data-color-scheme="system">
  <head>
    <title>JournalAdministration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav data-controller="nav" data-action="click->nav#click">
        <ul>
          <li><%= link_to t('home'), dashboard_index_path %></li>
          <li>
            <%= link_to t('journal'), transactions_path %>
            <details>
              <summary><%= t("main_nav.journal_views") %></summary>
              <ul>
                <li><%= link_to t('transactions.index.all_transactions'), transactions_path %></li>
                <li><%= link_to t('transactions.index.consolidatable'), transactions_path(filter: :no_category) %></li>
              </ul>
            </details>
          </li>
          <li><%= link_to t('main_nav.accounts', model: Account.model_name.human), accounts_path %></li>
          <li><%= link_to t('main_nav.categories', model: Category.model_name.human), categories_path %></li>
          <li><%= link_to t('main_nav.chattels', model: Chattel.model_name.human), chattels_path %></li>
          <li><%= link_to t('main_nav.todo', model: Todo.model_name.human), todo_path %></li>
          <% if signed_in? %>
            <li><%= link_to t("main_nav.profile"), edit_user_profile_path(Current.user) %></li>
          <% end %>
          <% if Current.user&.can_administer? %>
            <li><%= link_to t("main_nav.admin"), admin_root_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <% flash.each do |key, value| %>
        <aside>
          <p role="<%= key.to_s == 'alert' || key.to_s == 'error' ? 'alert' : 'status' %>"><%= value %></p>
        </aside>
      <% end %>
      <%= yield %>
    </main>
    <dialog id="confirm-dialog">
      <p id="confirm-dialog-message"></p>
      <nav>
        <button type="button" id="confirm-dialog-cancel" autofocus><%= t('common.cancel') %></button>
        <button type="button" id="confirm-dialog-accept" class="button-danger" data-default-label="<%= t('common.delete') %>"></button>
      </nav>
    </dialog>
  </body>
</html>
