!!! html
%html
  %head
    %title JournalAdministration
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'base/_index.css', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'layout/_index.css', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'modules/_index.css', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'state/_index.css', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'theme/_index.css', media: 'all', 'data-turbo-track': 'reload'

    = javascript_importmap_tags
  %body
    %header
      %nav
        %ul
          %li= link_to t('Home'), dashboard_index_path
          %li= link_to t('Journal'), transactions_path
          %li= link_to t('Accounts'), accounts_path
          %li= link_to t('Categories'), categories_path
          %li= link_to t('Chattels'), chattels_path
      = yield(:secondary_nav)
    %hr
    %main
      %article
        - flash.each do |key, value|
          %aside
            %p{class: "flash #{key}"}= value
      = yield
