!!! html
%html
  %head
    %title JournalAdministration
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ class: body_class }
    %nav.main-nav
      = render 'layouts/main_navigation'

    %main
      #flash
        - flash.each do |key, value|
          %div{class: "flash #{key}"}= value
      = yield
