<!DOCTYPE html>
<html data-theme="solunized-light" data-color-scheme="system">
  <head>
    <title>JournalAdministration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <output data-mvpa-flashes>
        <% flash.each do |key, value| %>
          <aside role="<%= key.to_s.in?(%w[alert error]) ? 'alert' : 'status' %>"><%= value %></aside>
        <% end %>
      </output>
      <%= yield %>
    </main>
  </body>
</html>
