= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= t('errors.template.header', count: @account.errors.count, model: Account.model_name.human.downcase)
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit t('common.save')

  .field
    = f.label :id
    = f.text_field :id, disabled: :disabled
  .field
    = f.label :account_number
    = f.text_field :account_number
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :owner
    = f.collection_select :owner, Account.owners, :first, :first, { include_blank: true }
  .field
    = f.label :category_id
    = f.collection_select :category_id, Category.all.order(:name), :id, :name, { include_blank: true }
