<header>
  <h1><%= @account.name %></h1>
  <nav>
    <%= link_to @account do %>
      <b><%= t('common.show') %></b>
    <% end %>
  </nav>
</header>
<article>
  <%= render 'form', account: @account %>
</article>

<article>
  <%= render "shared/recent_transactions", transactions: @account.recent_transactions %>
</article>

<footer>
  <%= button_to t('common.destroy'), @account, method: :delete, class: "button-danger",
      data: { turbo_confirm: t('common.confirm_destroy'), confirm_verb: t('common.delete') } %>
</footer>
