<section id="own-accounts">
  <h2><%= t('.own_accounts') %></h2>

  <% if @own_page.number > 1 || @own_page.before_last? %>
    <nav class="pagination">
      <% if @own_page.number > 1 %>
        <%= link_to t("pagination.previous"), url_for(request.query_parameters.merge(own_page: @own_page.number - 1)), rel: "prev" %>
      <% end %>
      <% if @own_page.before_last? %>
        <%= link_to t("pagination.next"), url_for(request.query_parameters.merge(own_page: @own_page.next_param)), rel: "next" %>
      <% end %>
    </nav>
  <% end %>

  <table class="accounts" id="own-accounts-table">
    <thead>
      <tr>
        <th></th>
        <th><%= t('.id') %></th>
        <th><%= t('.account_number') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.owner') %></th>
        <th><%= t('.category') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @own_accounts.each do |account| %>
        <tr>
          <td>
            <%= link_to account do %>
              <b><%= t('.show') %></b>
            <% end %>
          </td>
          <td><%= account.id %></td>
          <td><%= account.account_number %></td>
          <td><%= account.name %></td>
          <td><%= account.owner %></td>
          <td><%= account.category&.name %></td>
          <td><%= link_to t('.edit'), edit_account_path(account) %></td>
          <td><%= button_to t('.update_transactions'), account_transactions_bulk_path(account), method: :patch, class: "button-mutating" %></td>
          <td><%= button_to t('.destroy'), account, method: :delete, class: "button-danger", data: { turbo_confirm: t('.confirm_destroy'), confirm_verb: t('common.delete') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @own_page.number > 1 || @own_page.before_last? %>
    <nav class="pagination">
      <% if @own_page.number > 1 %>
        <%= link_to t("pagination.previous"), url_for(request.query_parameters.merge(own_page: @own_page.number - 1)), rel: "prev" %>
      <% end %>
      <% if @own_page.before_last? %>
        <%= link_to t("pagination.next"), url_for(request.query_parameters.merge(own_page: @own_page.next_param)), rel: "next" %>
      <% end %>
    </nav>
  <% end %>
</section>

<section id="external-accounts">
  <h2><%= t('.external_accounts') %></h2>

  <% if @external_page.number > 1 || @external_page.before_last? %>
    <nav class="pagination">
      <% if @external_page.number > 1 %>
        <%= link_to t("pagination.previous"), url_for(request.query_parameters.merge(external_page: @external_page.number - 1)), rel: "prev" %>
      <% end %>
      <% if @external_page.before_last? %>
        <%= link_to t("pagination.next"), url_for(request.query_parameters.merge(external_page: @external_page.next_param)), rel: "next" %>
      <% end %>
    </nav>
  <% end %>

  <table class="accounts" id="external-accounts-table">
    <thead>
      <tr>
        <th></th>
        <th><%= t('.id') %></th>
        <th><%= t('.account_number') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.category') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @external_accounts.each do |account| %>
        <tr>
          <td>
            <%= link_to account do %>
              <b><%= t('.show') %></b>
            <% end %>
          </td>
          <td><%= account.id %></td>
          <td><%= account.account_number %></td>
          <td><%= account.name %></td>
          <td><%= account.category&.name %></td>
          <td><%= link_to t('.edit'), edit_account_path(account) %></td>
          <td><%= button_to t('.update_transactions'), account_transactions_bulk_path(account), method: :patch, class: "button-mutating" %></td>
          <td><%= button_to t('.destroy'), account, method: :delete, class: "button-danger", data: { turbo_confirm: t('.confirm_destroy'), confirm_verb: t('common.delete') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @external_page.number > 1 || @external_page.before_last? %>
    <nav class="pagination">
      <% if @external_page.number > 1 %>
        <%= link_to t("pagination.previous"), url_for(request.query_parameters.merge(external_page: @external_page.number - 1)), rel: "prev" %>
      <% end %>
      <% if @external_page.before_last? %>
        <%= link_to t("pagination.next"), url_for(request.query_parameters.merge(external_page: @external_page.next_param)), rel: "next" %>
      <% end %>
    </nav>
  <% end %>
</section>

<section>
  <%= link_to new_account_path do %>
    <b><%= t('.new_account') %></b>
  <% end %>
</section>
