<h1>
  <%= @account.name %>
  <%= link_to edit_account_path(@account) do %>
    <b><%= t('.edit') %></b>
  <% end %>
</h1>

<p>
  <b><%= t('.id') %></b>
  <%= @account.id %>
</p>
<p>
  <b><%= t('.account_number') %></b>
  <%= @account.account_number %>
</p>
<p>
  <b><%= t('.name') %></b>
  <%= @account.name %>
</p>
<p>
  <b><%= t('.owner') %></b>
  <%= @account.owner %>
</p>
<p>
  <b><%= t('.category') %></b>
  <%= @account.category&.name %>
</p>

<%= button_to t('.update_transactions'), account_transactions_bulk_path(@account), method: :patch %>
