%h1
  = @account.name
  = link_to edit_account_path(@account) do
    %b Edit

%p
  %b Id:
  = @account.id
%p
  %b Account number:
  = @account.account_number
%p
  %b Name:
  = @account.name
%p
  %b Owner:
  = @account.owner
%p
  %b Category:
  = @account.category&.name

= link_to update_transactions_account_path(@account) do
  %b Update Transactions
