%p#notice= notice

%p
  %b Id:
  = @account.id
%p
  %b Account number:
  = @account.account_number
%p
  %b Name:
  = @account.name
%p
  %b Owner:
  = @account.owner
%p
  %b Category:
  = @account.category&.name

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Update Transactions', update_transactions_account_path account
\|
= link_to 'Back', accounts_path
